<!DOCTYPE html>
<html>
<header>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Almendra Display' rel='stylesheet'>
    <title>biilllling</title>
    <link href="/statics/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/statics/logo.PNG" />
</header>
<body>
    <div id="sidenav">
        <img src="/statics/logo.PNG" id="Logo">
        <p>pages :</p>
        <a href="/home" id="liennav">Home</a><br/>
        <a href="/ocr" id="liennav">facture</a><br/>
        <a href="/compta" id="liennav">comptabilité</a><br/>
        <a href="/monit" id="liennav">monitoring</a><br/>
    </div>
    <!-- id="overflowTest" -->
    <div id="main" >
        <h1><em>Biilllling</em></h1>
        <h3>company</h3>
        <br/>
        <h2><em>Voici les statistique de la base de données :</em></h2>
        {% if size_df %}
            {{size_df}}
        {% endif %}
        {% if df_client %}
            <p>Liste des 5 plus gros clients :</p>
            {{df_client|safe}}
        {% endif %}
        {% if df_facture %}
            <p>Liste des 5 première factures :</p>
            {{df_facture|safe}}
        {% endif %}
        {% if df_produit %}
            <p>Liste des 5 premier produits :</p>
            {{df_produit|safe}}
        {% endif %}
        {% if df_achat %}
            <p>Liste des 5 premier achats :</p>
            {{df_achat|safe}}
        {% endif %}
    </div>
</body>
</html>