<!DOCTYPE html>
<html>
<header>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Almendra Display' rel='stylesheet'>
    <title>biilllling</title>
    <link href="/statics/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/statics/logo.PNG" />
</header>
<body>
    <div id="sidenav">
        <img src="/statics/logo.PNG" id="Logo">
        <p>pages :</p>
        <a href="/home" id="liennav">Home</a><br/>
        <a href="/ocr" id="liennav">facture</a><br/>
        <a href="/compta" id="liennav">comptabilité</a><br/>
        <a href="/monit" id="liennav">monitoring</a><br/>
    </div>
    <div id="main">
        <h1><em>biilllling</em></h1>
        <h3>company</h3>
        <br/>
        <h2><em>Quels factures veux-tu traiter ?</em></h2>
        <p>méthodes disponibles :</p>
        <p>Choisi une date pour obtenir les 1000 facture à partire de cette date</p>
        <form method="POST" action="/ocr_few">
            nombre: <input name="nombre">
            date (forma jj/mm/yyyy): <input name="times">
            <br/>
            <button class="button-32" type="submit" name="action" value="valider">get few</button>
        </form>
        <p>Obtenir toutes les factures :</p>
        <form method="POST" action="/ocr_all">
            <button class="button-32" type="submit" name="action" value="obtenir">get all</button>
        </form>
        {% if resultat %}
            {{resultat}}
        {% endif %}
    </div>
</body>
</html>